<mat-tab-group mat-align-tabs="end" animationDuration="900ms" backgroundColor="primary" >
  <div class="logo">
    <img src="assets/images/logo.png">
  </div>
  <mat-tab label="Home" >
        <div class="banner">
          <img src="assets/images/img.jpg" class="banner_img">  
        </div>
        <br><br>
</mat-tab>
    <mat-tab label="About US">
      <app-aboutus></app-aboutus>
          </mat-tab>

          <mat-tab label="Contact Us">
          <app-contactus></app-contactus>
        </mat-tab>
          <mat-tab label="LOGIN">
            <app-signup-login></app-signup-login>
          </mat-tab>
  </mat-tab-group>

  
  
