<br>
<br>
<br>
<h1 align="center">ORDER SUMMARY</h1>
<form>
    <div class="summary">
      <br>
    Name: {{pays.name}}
      <br><br><br>
      Email: {{pays.email}}
      <br><br><br>
      Car : {{pays.carType}}
      <br><br><br>
      Service : {{pays.serviceplan}}
      <br><br><br>
      Vehicle Number: {{pays.vehiclenumber}}
      <br><br><br>
      Address : {{pays.address}}
      <br><br><br>
    </div>
</form>

  <div class="row mt-5">
    <div class="col-md-4">
      <button (click)="pay(800)" class="btn btn-primary btn-block">Pay </button>
    </div>
  </div>

  <br>
<app-footer></app-footer>

