h1 { color: #321386; 
    font-size: 48px; 
    font-family: 'Signika', sans-serif;
     padding-bottom:10px;
    font-weight: inherit;
    text-align: center;
    border-radius: 40px;
 }

.container {
    display: inline-block;
    margin-right: 40px;
    padding: 40px 40px 40px 40px;
    border: turquoise;
    color: rgb(15, 11, 11);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
  }