
<div class="container">
	<div class="img">
	<img src="assets/images/logo.png">
	</div>

	<h1 class="heading">  Clear Car Wash</h1>
	
	<h3>Contact Us</h3>
	<form [formGroup]="formGroup" (ngSubmit)="OnSubmit()" >
		<b><label for="first_name">First Name</label></b>
		<input name="first_name" type="text" required placeholder="John" formControlName="first_name"/>
		<br>
		<b><label for="last_name">Last Name</label></b>
		<input name="last_name" type="text" required placeholder="Doe" formControlName="last_name"/>
		<br>
		<b><label for="email">Email</label></b>
		<input name="email" type="email" required placeholder="you@domain.com" formControlName="email"/>
		<br>
		<b><label for="message">Message</label><br></b>
		<textarea name="message" cols="30" rows="5" placeholder="Enter your message here ..." required formControlName="message"> </textarea>
		<div class="center">
			<input type="submit" value="Submit">
		</div>
	</form>	
</div>

