@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.whyus{

    font-family: 'Oswald', sans-serif;
  }

  .heading{
    color: rgba(216, 58, 58, 0.678);
    
    font-size: 300%;
    
    font-weight: bold;
    text-align: center;
    }

.para{
  color: rgb(2, 11, 12);
  font-weight: 100;
  font-size: large;
 
    }

    .column {
      float: left;
      width: 30%;
      padding: 100px;
      
    }
    
    
    .row::after {
      content: "";
      clear: both;
      display:flex;
      margin-left: 20px;
      
    }

    .img{
        border-radius: 50%;
        border-style:groove;
    }
